<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department Count</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Exam Seating Arrangement </h1>
    <form method="POST" action="/">
        <label for="num_departments">Number of Departments:</label>
        <input type="number" name="num_departments" min="1" required>
        <button type="submit">Next</button>
    </form>
</body>
</html>








